.box_set{
    background-color: #ccc;
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.box1{
    background-color: #fc0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: -50px;
    top: -50px;
}
.box2{
    background-color: #fc0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 350px;
    bottom: -50px;
}